  
  /* Set default font and color */
  body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
  }
  
  /* Set background color and text color for the entire page */
  body {
    background-color: #c1c1c1;
  }
  
  /* Container for the entire page */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  

  
  /* Quiz section styles */
  .quiz {
    margin-bottom: 40px;
  }
  
  .quiz h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .quiz p {
    margin-bottom: 20px;
  }
  
  /* Question styles */
  .questions {
    margin-bottom: 20px;
  }
  
  .questions h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .gameover {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  /* Submit button styles */
  .submitScore {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Result styles */
  .highscore-Page {
    text-align: center;
    margin-top: 20px;
  }
  
  .result h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .result p {
    font-size: 18px;
  }